# Environment production
ENV={DEVELOPMENT | PRODUCTION}

# Server
PORT={PORT}
SERVER_HOST={SERVER_HOST}

# Client
CLIENT_HOST={CLIENT_HOST}

# Secret key for JWT and Token
JWT_SECRET={JWT_SECRET}

# Secret key for generate API token key
API_SECRET={API_SECRET}
API_SALT={API_SALT}

# Email Configuration
MAIL_HOST={MAIL_HOST}
MAIL_USERNAME={MAIL_USERNAME}
MAIL_PASSWORD={MAIL_PASSWORD}
MAIL_SECRECT={MAIL_SECRECT}

# Database
DB_HOST={DB_HOST}
DB_PORT={DB_PORT}
DB_USER={DB_USER}
DB_PASSWORD={DB_PASSWORD}
DB_NAME={DB_NAME}
DB_SSLMODE={DB_SSLMODE}

# MiniO Configuration
MINIO_FINAL_BUCKET_NAME={MINIO_FINAL_BUCKET_NAME}
MINIO_TMP_BUCKET_NAME={MINIO_TMP_BUCKET_NAME}
MINIO_ENDPOINT={MINIO_ENDPOINT}
MINIO_ACCESS_KEY={MINIO_ACCESS_KEY}
MINIO_SECRET_KEY={MINIO_SECRET_KEY}

# Redus Configuration
REDIS_HOST={REDIS_HOST}
REDIS_PASSWORD={REDIS_PASSWORD}
REDIS_DB={REDIS_DB}